<body>
<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="#">
        <img src="assets/images/Unicredit.jpg" alt="unicredit" class="img-responsive">
      </a>
    </div>
    <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
          <li>
            <a href="#">Reports</a>
          </li>
          <li>
            <a href="#">Investigation</a>
          </li>
          <li>
            <a href="#">E2e regression tests</a>
          </li>
          <li>
            <a href="#">Patches</a>
          </li>
          <li>
            <a href="#">Scripts</a>
          </li>
          <li>
            <a href="#">Placeholder</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <!-- END MENU SIDEBAR-->
  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
        <header class="header-desktop">
    <!--      <div class="section-content section-content-p30">-->
    <!--        <div class="container-fluid">-->
    <!--          <div class="header-wrap">-->
    <!--            <form class="form-header" onsubmit="return false;" method="GET">-->
    <!--              <input class="au-input au-input-xl" type="text" name="search"-->
    <!--                     placeholder="Search for data ..." />-->
    <!--&lt;!&ndash;              <button class="au-btn-submit" type="submit">&ndash;&gt;-->
    <!--&lt;!&ndash;                Search&ndash;&gt;-->
    <!--&lt;!&ndash;              </button>&ndash;&gt;-->
    <!--            </form>-->
    <!--          </div>-->
    <!--          <div class="account-wrap"></div>-->
    <!--        </div>-->
    <!--      </div>-->
        </header>
    <!-- END HEADER DESKTOP-->
    <!-- MAIN CONTENT-->
    <app-alerts-list></app-alerts-list>
  </div>
</div>
<!--END PAGE CONTENT-->
<footer>
  <ul>
    <li><a href="#">Patch Notes</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>


